{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/inter.css')}}">
{% endblock %}

{% block content %}
{% if final != true %}
<h1 class="pregunta">
    ¿ {{ pregunta }} ?
</h1>
<form method="POST">
    <input id="si" type="submit" name="si" value="SI" class="rainbow">
    <input id="no" type="submit" name="no" value="NO" class="rainbow">
    <input id="nose" type="submit" name="no lo se" value="NO LO SE" class="rainbow">
</form>
{% endif %}
{% if final == true %}
{% if person is not none %}
<img id="personaje" src="{{url_for('static', filename=person+'.jpg')}}"
    onerror=this.src="{{url_for('static', filename='notfound.jpg')}}">
</img>
{% endif %}
<h2 id='1'>{{ pregunta }}</h2>
<form method="POST">
    {% if person is none %}
    <p id="final">No pudiste encontrar tu personaje?</p>
    {% endif %}
    {% if person is not none %}
    <p id="final">Ese no es tu personaje?</p>
    {% endif %}
    <input id="irfinal" type="submit" name="final" value="Dinos en quien pensabas" class="text" />
    <div class="volver">
        <input type="submit" name="volver" value="<" class="volverbutton"> Volver a jugar
    </div>
</form>
{% endif %}
{% endblock %}