table{
    position:relative;
    width:50%;
    top:25%;
    left:25%;
    border:1px solid #000;
}
th, td{
    width:25%;
    text-align:left;
    vertical-align: top;
    border:1px solid #000;
    border-collapse: collapse;
    padding:0.3em;
    caption-side: bottom;
}
caption{
    padding:0.3em;
    color:#fff;
    background:#000;
}
th{
    background:#eee;
}
.notificacion{
    position:absolute;
    left:10%;
    background-color:greenyellow;
    opacity:0.2;
    width:80%;
    height:5%;
    padding-top:1%;
    text-align:center;
    border-radius:36px;
    font-size:20px;
    font-family:sans-serif;
}
.aceptar{
    background-image:url('aceptar.png');
    background-color:green;
    border-radius: 36px;
    width:20px;
    height:20px;
    position:absolute;
    left:40%;
    top:80%;
}
.denegar{
    background-image:url('denegar.png');
    background-color:red;
    border-radius: 36px;
    width:24px;
    height:24px;
    position:absolute;
    left:60%;
    top:80%;
}